#scrypta-login button, #scrypta-login-wrapper button{
    background:#39A1FF;
    color:#fff;
    border:0;
    padding:10px 20px;
    border-radius: 4px;
    font-family: 'Sen';
}

#scrypta-login-wrapper button {
    margin:20px 10px 20px 0; 
}

#scrypta-login button:hover, #scrypta-login-wrapper button:hover{
    cursor:pointer!important;
    opacity: 0.9;
}

#scrypta-login-wrapper{
    position:fixed;
    top:0; 
    left:0; 
    width:100%;
    height:100%;
    background:#fff;
    text-align:left;
}

#scrypta-login-bg{
    position:absolute;
    top:0; 
    left:0; 
    width:70%;
    height:100%;
    background-image: url('../imgs/bg.jpg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:cover;
}

#scrypta-login-link a{
    color:#E8F1F2;
    font-size:13px;
    font-family: 'Sen';
}

#scrypta-login-link{
    position:absolute; 
    bottom:50px;
    left:50px;
}
#scrypta-login-logo{
    position:absolute;
    top:20px; 
    left:50px; 
    width:200px;
    height:80px;
    background-image: url('../imgs/logo.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}

#scrypta-login-gfx{
    position:absolute;
    top:50%; 
    left:50%; 
    margin-left:-40%;
    margin-top:-300px;
    width:100%;
    height:600px;
    background-image: url('../imgs/gfx.png');
    background-position:center;
    background-repeat:no-repeat;
    background-size:contain;
}

#scrypta-login-contents{
    position:absolute;
    top:0; 
    right:0; 
    width:30%;
    height:100%;
    padding: 20vh 100px;
    background:#fff;
    text-align:center;
}

#loadingMessage{
    padding:20px;
}

#scrypta-login-wrapper h1{
    font-family: 'Sen';
    margin-bottom: 0px;
}

#scrypta-login-wrapper p{
    font-family: 'Sen';
    font-size: 11px;
}

#sid-login-input{
    font-family: 'Sen';
    font-size: 20px;
    margin:30px 0;
}